---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfe;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

*, *:after, *:before {
	box-sizing: border-box;
}
body {
	color: #555;
	font-family: 'montserrat', sans-serif;
	margin: 0;
	font-size: 1.2em;
	background: $background-color;
}
.fl--rt { float: right; }
.fl--lt { float: left; }
.text--center { text-align: center; }
.caps { text-transform: uppercase; }
.bold { font-weight: bold }
.grid__item { float: left; }
.one-half { width: 50%; }
.one-third { width: 33.33%; }
.green { color: yellowgreen; }
a {
	color: #F16652;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #F47322;
}
p {
	color: #777;
}
.btn {
	background: none;
	border: 2px solid white;
	border-radius: 4px;
	color: white;
	padding: 5px 20px;
	cursor: pointer;
}
.btn--white {
	border-color: white;
}
.btn:hover {
	color: white;
}
.btn--big {
	font-size: 2em;
	padding: 10px 40px
}
.row {
	max-width: 900px;
	margin: 0 auto;
}
@include media-query(960px) {
	.row {
		margin: 0;
	}
}
.outer-wrap {
	// width: 900px;
	min-height: calc(100vh - 140px);
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	// margin: 0 auto;
	transition: 0.25s ease 0.1s;
}
.main-header {
	margin-bottom: 32px;
	padding: 32px 0;
}
@include media-query(960px) {
	.main-header {
		padding-left: 32px;
		padding-right: 32px;
	}
}
.content-wrap {
	-webkit-flex: 1;
	flex: 1;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
}
footer {
	padding: 32px;
	margin-top: 64px;
	color: #AAA;
	text-align: center;
}
.header-logo {
	border-radius: 50%;
	width: 48px;
	border: 0;
	padding: 0;
	margin-right: 10px;
	vertical-align: middle;
	position: relative;
	top: -3px;
}
.main-title {
	font-size: 60px;
	text-decoration: none;
	color: inherit;
	font-weight: bold;
}
.post-content {
	font-size: 1.2em;
	line-height: 1.6em;
}
.page-nav {
	position:relative;
	top:6px;
}
.page-nav__link {
	margin-left: 20px;
}
@include media-query(530px) {
	.page-nav {
		float: none;
		top: 26px;
		display: flex;
		justify-content: center;
	}
	.page-nav__link {
		margin: 0 10px;
		text-align: center;
		border: 2px solid #F16652;
		border-radius: 4px;
		padding: 9px 10px;
	}
}
.post-meta {
	opacity: 0.3;
}
img {
	max-width: 100%;
}
.post-content img {
	padding: 15px;
	border: 1px solid #EEE;
}

@media screen and (max-width: 900px) {
	.outer-wrap {
		width: auto;
		padding: 20px;
	}
}

.img-container {
	width: 100%;
	max-width: 700px;
	margin: 2em auto;
}
.cols {
	-moz-column-count:3;
	-moz-column-gap: 3%;
	-moz-column-width: 30%;
	-webkit-column-count:3;
	-webkit-column-gap: 3%;
	-webkit-column-width: 30%;
	column-count: 3;
	column-gap: 3%;
	column-width: 30%;
}
.img-container__img {
	margin-bottom: 20px;
}
.summary-tile {
	width: 20vw;
	width: 370px;
	padding: 0;
	margin: 20px;
	overflow: hidden;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(43,59,93,.29);
}
.summary-tile__img {
	height: 200px;
	background-size: cover;
	background-position: 50%;
	transition: 0.4s ease;
}
.summary-tile__title {
	padding: 20px;
}
.tile-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
@include media-query(400px) {
	.summary-tile {
		width: 100%;
		margin: 0 0 20px;
	}
}
@include media-query(960px) {
	.tile-container {
		flex-direction: column;
		align-items: center;
	}
}
.hero {
    padding: 240px 0 190px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: 50%;
    margin-bottom: 4em;
}
.hero:before {
	content: '';
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 3em;
    top: 0;
    line-height: 10em;
    // background: rgba(177, 255, 61, 0.5);
    background: rgba(229,154,19,0.5);
    background: rgba(0,164,255,0.5);
    background: rgba(164, 255, 0, 0.5)
}
.hero__content {
	position: absolute;
	left: 0;
	right: 0;
	top: 30%;
	text-align: center;
	color: white;

	h1 {
		font-size: 3em;
	}
}