<footer>
	<div style="margin-bottom: 10px;">
		<!-- <a href="mailto:paraggour92 [at] gmail [doot] com?subject=Query about Prakriti">Contact Us</a> -->
		<script type="text/javascript">
		//<![CDATA[
		<!--
		var x="function f(x,y){var i,o=\"\",l=x.length;for(i=0;i<l;i++){if(i>(47+y))" +
		"y*=2;y%=127;o+=String.fromCharCode(x.charCodeAt(i)^(y++));}return o;}f(\"IE" +
		"_QG]ZX\\027^\\021B\\022GK_M`(n,ygdk'%w3b!+!7%:\\1778h9;c.2208v'N\\002\\n\\0" +
		"02\\026&\\t\\003\\r(\\036C\\000B_\\\\YPOJF\\\\\\r\\003\\n\\000\\001\\003W@\\"+
		"006;n-3r\\005B# 6 ,m#n347-#?f&m=\\177bo<hjhb3vqt%0K\\\\\\032M\\007\\r\\007\\"+
		"025)\\035B\\002EV\\023\\035\\025\\005\\007\\001\\032U\\031Y\\013\\014\\030\\"+
		"010\\010\\017V0.ib7\\005\\003f*$'*\\016O,^$u)\\017N\\\\^3>.b\\\"406RB\\010M" +
		"0^Z[xb\\\\\\\\^5<.b\\\"p.ey'\\nM0^Zf-\\033Z0/+<.\\016\\\"\\\\|3=.b\\\"bVN\\" +
		"\\Vl'Ed3<.b\\\"@D[]O\\tO0^ZYAw {64>Bb\\\"\\\\^ZJ]q8VS0=.b\\\"Mr{=nL\\005t51" +
		"?Bb)$.`hcH\\tn~jr/[\\003dlaf8aAgg2?.b\\\"506RBb\\\"\\\\^4=.b\\\"FYV?-\\016\\"+
		"\"\\\\05>BbN22ZR.\\016N\\\\^4=.b\\\"026RB\\010N0^ZP-\\rN\\\\^6>.b\\\"036RB\\"+
		"017N0^Z8-\\016\\\"\\\\vZR(\\016N\\\\^2?.b\\\"\\\\ .hc\\005\\021 lt{j[\\014}" +
		"9/'5\\025\\007(\\\\/g6J?efiMl_\\026c,~&{Z\\021Cpgf]S\\021rd(ipW\\014tQ;%q\\" +
		"005I23;+g\\005\\027=)\\177'*\\016O=?o&xW\\005))-g%RBi963w\\026\\014od=fjY\\" +
		"020en(v#RR\\\\ Z,#QRi\\\"tohEWy.~&x\\036\\020okrmpK\\030\\\"+\",47)"         ;
		while(x=eval(x));
		//-->
		//]]>
		</script>
		| <a href="/about">About</a>

	</div>
	An initiative by <a href="https://www.facebook.com/parag.gour.7">Parag Gour</a> • Website designed by <a href="https://twitter.com/chinchang457">Kushagra Gour</a>
</footer>