<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">

<header class="main-header  row">
	<a href="/" style="color: rgb(252, 155, 0);letter-spacing: 2px;position: relative;display: block;transform: scale(0.7);transform-origin: 0 0;">
		<div style="
		    width: 210px;
		    height: 210px;
		    background-image: url(/images/logo.jpg);
		    background-size: 130%;
		    border-radius: 50%;
		    background-position: -27px;
			  border: 10px solid;
		    "></div>
		<div style="position: absolute;left: 77px;top: 45px;z-index: 2;font-size: 90px;text-shadow: 0 3px 0px white, -4px 0px 0px white, 4px 0px 0px white;">Prakriti</div>
	</a>

	<div class="page-nav">
		<a class="page-nav__link" href="/">Home</a>
		<a class="page-nav__link" href="/products">Products</a>
		<!-- <a class="page-nav__link" href="/testimonials">Testimonials</a> -->
		<a class="page-nav__link" href="/blog">Blog</a>
		<a class="page-nav__link" href="/about">About</a>
	</div>

</header>
