---
layout: default
---
<div class="post">
  {% assign product = site.data.products[page.product_key] %}
  {% if product.hero_img %}
  <section class="hero" style="background-image:url('{{ product.hero_img }}')">
    <div class="hero__content">
      <h1>{{ product.label }}</h1>
      {% if product.buy_link %}
      <a class="btn  btn--white  btn--big" href="{{product.buy_link}}">Buy now</a>
      {% else %}
      <button class="btn  btn--white  btn--big" onclick="triggerBuy()">Buy now</button>
      {% endif %}
    </div>
  </section>
  {% endif %}

  <header class="post-header  row">
    <h1 class="post-title">{{ product.label }}</h1>
  </header>

  <article class="post-content  row">
    <p style="text-align:center">
      <img src="{{product.image}}" />
    </p>

    {{ content }}
  </article>

  {% if product.onsite_purchase %}
  <script src="https://gumroad.com/js/gumroad.js"></script>
  <a class="gumroad-button" href="{{ page.buy_link}}" target="_blank">Buy my product</a>
  <script>
    function triggerBuy() {
      document.querySelector('.gumroad-button').click();
    }
  </script>
  {% endif %}

</div>
